@import url(/css/main_style.css);

body {
     background: #eef3f9 url('../img/obob_image.png') top left fixed;
     font-family: Verdana, Arial, Helvetica, Sans-Serif;
     font-size: 75%;
     margin: 15px 0 15px 0;
}

#header {
     height: 185px;
     background: #669ACC url('../img/obob_header_2.jpg') top left no-repeat;
}

