

body {
     background: #eef3f9 url('../img/obob_image.png') top left fixed;
     font-family: Verdana, Arial, Helvetica, Sans-Serif;
     font-size: 75%;
/*     text-align: center; */
     margin: 15px 0 15px 0;
}

