<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

<!-- Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="keywords" content="Short description of page goes here" />
<meta name="description" content="keywords, go, here, seperated, by, commas." />

<!-- Stylesheet -->
<style type="text/css" media="all">@import "/css/so_style.css";</style>

<!-- JavaScript -->
<script src="/js/jquery-1.2.6.min.js" type="text/javascript"></script>

<!-- Site Title -->
<title>The Sequence Ontology</title>

</head>

<body>

<div id="page_wrapper">

<div id="header">

<div id="header_left">
	
</div>

</div>

<div id="menu_bar">
<div id="navcontainer">

<!--#include virtual="/includes/nav_bar.html" -->

</div>
</div>

<div id="breadcrumb">
<p>
     [% breadcrumb %]
</p>
</div>

<div id="content_wrapper">

<!-- ====================== BEGIN RIGHT COLUMN ======================== -->	

<div id="right_column">
<div class="column_padding">

<!--#include virtual="/includes/menu.html" -->

</div> <!-- inner_padding -->
</div> <!-- right_column -->

<!-- ======================= END RIGHT COLUMN ======================== -->	

<div id="main_content">
<div class="main_padding">
	
<!-- ==================== BEGIN MAIN CONTENT AREA ====================== -->	

[% content %]

<!-- ==================== END MAIN CONTENT AREA ====================== -->	

</div> <!-- inner_padding -->
</div> <!-- main_content -->
</div> <!-- content_wrapper -->

<div class="spacer"></div>

<div id="footer">

<!--#include virtual="/includes/footer.html" -->

</div> <!-- footer -->

</div> <!-- page_wrapper -->

</body>

</html>
